converter.py
converter*.py
fortiedr.py
additional_functions.py
.*.json
*.old

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

fortiedr.egg-info
build

api_docs/
vendors/__pycache__/*
config/__pycache__/*
config/credentials.ini
jobs
test.py
*test*
*.pyc
TO-DO.md
*.log